.menu > li{
    margin: 2px;
}


.menu li {
    display: inline-block;
    float: left;
    width: 150px;
    background-color: darkorange;
    color: black;
    text-align: center;

}

.menu{
    font-size: 1.1em;
}


/*Link2*/
.link2 ul{
    padding-left: 0;
}

.link2 ul li{
    clear: both;
    display: none;
    margin-left: 0;
}

.link2:hover li{
    display: block;
}

/*LinkC*/

.linkC{
    position: relative;

}

.linkC ul{
    padding-left: 0;
    display: none;

}


/*Link C display next menu */
.linkC:hover ul{
    display: block;
    position: absolute;
    left: 150px;
    top: 0;

}


